<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-white">
          <div class="card-body p-5">
            <% if resource.errors.any? %>
              <div class="alert alert-success">
                <h4>Error:</h4>
                <ul>
                  <% resource.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'mb-3 mt-md-4'}) do |f| %>
              <h2 class="fw-bold mb-2 centered "><%= t('devise.sessions.new.title') %></h2>
              <p class=" mb-5 centered"><%= t('devise.sessions.new.text') %></p>
              <div class="form-inputs">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" },
                            class: 'form-label',
                            placeholder: 'name@example.com' %>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" },
                            class: 'form-label',
                            placeholder: '*******' %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <p><%= link_to t('devise.sessions.new.password'), new_password_path(resource_name), class: 'small text-primary' %></p>
              <% end %>
              <div class="form-actions">
                <div class="d-grid">
                  <%= f.button :submit, t('devise.sessions.new.submit'), class: 'btn btn-outline-dark' %>
                </div>
              </div>
            <% end %>
            
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>