<div class="container">
  <div class="row">
    <div class="col-md-8 mx-md-auto px-md-4">
      <ul class='post-list'>
        <% @posts.each do |post| %>
        <li class="post">
          <h2><%= link_to post.title, post_path(post) %></h2>
          <p class="text-secondary" ><%= t('posts.index.published') %> <%= post.user.email %> hace <%= time_ago_in_words(post.created_at) %> </p>
          <p class="p-index"><%= truncate(post.content, length: 250) %></p>
          <% if user_signed_in? && current_user.email == post.user.email %>
              <%= link_to edit_post_path(post), class: 'spacer-index' do %>
                <i class="fas fa-edit"></i> <%= t('posts.index.edit') %>
              <% end %>
              <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro de que deseas eliminar este post?" } do %>
                <i class="fas fa-trash-alt"></i> <%= t('posts.index.delete') %>
              <% end %>
          <% end %>
          <li class="post">
        <% end %>
        <div class="pagination">
          <%= will_paginate @posts %>
        </div>
      </ul>
    </div>
  </div>
</div>