<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'custom', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <nav class="navbar bg-light navbarp">
      <div class="container-fluid">
        <a class="navbar-brand text-muted margin-left-nav" href="/">SuperBlog</a>
        <form class="d-flex">
          <div class="container-fluid">
            <% if current_user %>
              <%= link_to t('layouts.application.new_post'), new_post_path, class: "link-secondary spacer-nav" %>
              <%= link_to t('layouts.application.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: "link-secondary margin-right-nav" %>
            <% else %>
              <%= link_to t('layouts.application.login'), new_user_session_path, class: "link-secondary spacer-nav" %>
              <%= link_to t('layouts.application.sign_up'), new_user_registration_path, class: "link-secondary margin-right-nav" %>
            <% end %>
          </div>
        </form>
      </div>
    </nav>
    <div id="flash-messages">
      <div class="alert alert-danger">
        <% flash.each do |key, value| %>
          <div class="flash-message <%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
